In [3]:
import pandas as pd

file= pd.read_csv("C:/Users/Administrateur/Desktop/mes_idfno2.csv",encoding= 'unicode_escape',delimiter=";")

In [4]:
file.head()

,id,nom_dept,nom_com,id_com,nom_statio,code_stati,typologie,nom_poll,id_poll_ue,valeur,unite,metrique,date_debut,date_fin,statut_val,x,y
0,1,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,"73,000000000000000",ug.m-3,horaire,18/09/2017,18/09/2017,1,651166,6862011
1,2,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,"57,000000000000000",ug.m-3,horaire,18/09/2017,18/09/2017,1,651166,6862011
2,3,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,"65,000000000000000",ug.m-3,horaire,18/09/2017,18/09/2017,1,651166,6862011
3,4,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,"81,000000000000000",ug.m-3,horaire,18/09/2017,18/09/2017,1,651166,6862011
4,5,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,"74,000000000000000",ug.m-3,horaire,18/09/2017,18/09/2017,1,651166,6862011

In [22]:
file_no2=file[["nom_dept","nom_com","id_com","valeur","date_debut","date_fin"]]
file_no2.head()

,nom_dept,nom_com,id_com,valeur,date_debut,date_fin
0,PARIS,PARIS-6E-ARRONDISSEMENT,75106,"73,000000000000000",18/09/2017,18/09/2017
1,PARIS,PARIS-6E-ARRONDISSEMENT,75106,"57,000000000000000",18/09/2017,18/09/2017
2,PARIS,PARIS-6E-ARRONDISSEMENT,75106,"65,000000000000000",18/09/2017,18/09/2017
3,PARIS,PARIS-6E-ARRONDISSEMENT,75106,"81,000000000000000",18/09/2017,18/09/2017
4,PARIS,PARIS-6E-ARRONDISSEMENT,75106,"74,000000000000000",18/09/2017,18/09/2017

In [23]:
file_no2["id_com"].value_counts()

78646    26727
94081    26465
77258    26458
95088    26404
95277    26404
93073    26384
95633    26332
95612    26308
92036    26239
75106    26116
75112    25930
91228    25784
93066    25559
75115    24715
75102    24705
75104    16770
Name: id_com, dtype: int64

In [15]:
file_no2["nom_dept"].value_counts()

PARIS                118236
VAL-D'OISE           105448
SEINE-SAINT-DENIS     51943
YVELINES              26727
VAL-DE-MARNE          26465
SEINE-ET-MARNE        26458
HAUTS-DE-SEINE        26239
ESSONNE               25784
Name: nom_dept, dtype: int64

In [16]:
file_no2=file_no2[file_no2["nom_dept"]=="PARIS"]

In [19]:
file_no2["nom_dept"].value_counts()

PARIS    118236
Name: nom_dept, dtype: int64

In [21]:
file_no2["id_com"].value_counts()

75106    26116
75112    25930
75115    24715
75102    24705
75104    16770
Name: id_com, dtype: int64