In [103]:
import pandas as pd

compteur= pd.read_csv("C:/Users/Administrateur/Downloads/comptage-velo-donnees-compteurs.csv",engine='python',error_bad_lines=False,delimiter=";")

In [104]:
compteur.tail()

,Identifiant du compteur,Nom du compteur,Identifiant du site de comptage,Nom du site de comptage,Comptage horaire,Date et heure de comptage,Date d'installation du site de comptage,Lien vers photo du site de comptage,CoordonnÃ©es gÃ©ographiques
870354,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870355,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870356,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870357,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870358,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"

In [105]:
compteur.shape

(870359, 9)

### select right columns

In [106]:
compteur=compteur[["Nom du compteur","Comptage horaire","Date et heure de comptage","CoordonnÃ©es gÃ©ographiques"]]

In [107]:
compteur.tail()

,Nom du compteur,Comptage horaire,Date et heure de comptage,CoordonnÃ©es gÃ©ographiques
870354,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### check if 2 columns are equals

In [108]:
compteur['Nom du compteur'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
870354    False
870355    False
870356    False
870357    False
870358    False
Name: Nom du compteur, Length: 870359, dtype: bool

In [109]:
compteur.shape

(870359, 4)

###  drop null value from value

In [110]:
print(compteur[compteur.isnull()])
compteur=compteur.dropna(subset=["Comptage horaire"])

       Nom du compteur  Comptage horaire Date et heure de comptage  \
0                  NaN               NaN                       NaN
1                  NaN               NaN                       NaN
2                  NaN               NaN                       NaN
3                  NaN               NaN                       NaN
4                  NaN               NaN                       NaN
...                ...               ...                       ...
870354             NaN               NaN                       NaN
870355             NaN               NaN                       NaN
870356             NaN               NaN                       NaN
870357             NaN               NaN                       NaN
870358             NaN               NaN                       NaN

       CoordonnÃ©es gÃ©ographiques
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
...                            ...
870354                         NaN
870355                         NaN
870356                         NaN
870357                         NaN
870358                         NaN

[870359 rows x 4 columns]

In [111]:
compteur.shape

(870359, 4)

### rename columns

In [112]:
compteur.columns=['address','traffic',"date","gps"]

In [113]:
compteur.tail()

,address,traffic,date,gps
870354,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### convert trafic type in int

In [114]:
compteur["traffic"]=compteur["traffic"].apply(lambda x:int(x))

In [115]:
compteur.tail()

,address,traffic,date,gps
870354,74 Boulevard Ornano S-N,99,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### convert type columns gps to str for apply extraction

In [116]:
compteur["gps"]=compteur["gps"].apply(lambda x:str(x))

### extract x,y from GPS

In [117]:
#compteur["gps_x"]=compteur["gps"].apply(lambda x:x.split(",")[0])
#compteur["gps_y"]=compteur["gps"].apply(lambda x:x.split(",")[:])

### Extract date & hour

In [118]:
compteur["hour"]=compteur["date"].apply(lambda x:x.split("T")[1])

In [119]:
compteur["date"]=compteur["date"].apply(lambda x:x.split("T")[0])

In [120]:
compteur["hour"]=compteur["hour"].apply(lambda x:x.split("+")[0])

In [124]:
compteur['date']=pd.to_datetime(compteur['date'].astype(str), format='%Y/%m/%d')

### exemple final dataset traffic

In [125]:
compteur.tail()

,address,traffic,date,gps,hour
870354,74 Boulevard Ornano S-N,99,2020-11-18,"48.896825,2.345648",07:00:00
870355,74 Boulevard Ornano S-N,84,2020-11-18,"48.896825,2.345648",10:00:00
870356,74 Boulevard Ornano S-N,103,2020-11-18,"48.896825,2.345648",15:00:00
870357,74 Boulevard Ornano S-N,71,2020-11-18,"48.896825,2.345648",16:00:00
870358,74 Boulevard Ornano S-N,42,2020-11-18,"48.896825,2.345648",22:00:00

In [128]:
compteur["date"].max()

Timestamp('2020-11-18 00:00:00')

In [129]:
compteur["date"].min()

Timestamp('2019-10-01 00:00:00')

In [126]:
compteur.to_csv("C:/Users/Administrateur/Documents/bike_project/traffic.csv", sep=";", encoding="utf-8")